.header {
    text-align: center;
    margin-bottom: $spacing-lg;
    
    &__title {
        font-size: $font-size-xl;
        font-weight: $font-weight-medium;
        margin-bottom: $spacing-xs;
        line-height: 1.5;
    }
}